<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Josefin Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Crimson Text" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title>Story</title>
    </head>
    <body>

        <nav class="universal-navbar">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <% if (user) { %>
                    <a class="nav-item nav-link" id="nav-contact-tab-leave" data-toggle="tab" href="/logout" role="tab" aria-controls="nav-contact" aria-selected="false">leave</a>
                    <% } else { %>
                    <a class="nav-item nav-link" id="nav-contact-tab-join" data-toggle="tab" href="/auth/google" role="tab" aria-controls="nav-contact" aria-selected="false">join</a>
                    <% } %>    
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/about" role="tab" aria-controls="nav-home" aria-selected="true">About</a>
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="/story" role="tab" aria-controls="nav-profile" aria-selected="false">Post</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="/main" role="tab" aria-controls="nav-contact" aria-selected="false">Main</a>
            </div>
        </nav>

        <a id="new-story-link" href="/story/new">Add a new story</a>   
        
        <div class="story-content">
                <% stories.forEach(function(s) { %>
                    <div class="story-rows">
                        <div class="story-header">
                            <p><%= s.name %></p>
                            <p><%= s.age %></p>
                            <p><%= s.location %></p>
                            <p><%= s.date %></p>
                            <p>time since passing: </n><br> <%= s.timeframe  %></p>
                            <a id="comment" href="/story/comment/<%= s._id %>/view">view comments</a>   
                            <% if (user && user._id.equals(s.user)) { %>
                            <a id="edit" href= "/story/edit/<%= s._id %>">edit</a>
                            <form action="/story/<%= s._id %>?_method=DELETE"
                                class="delete-form" method="POST">
                                <button id="delete" class="btn btn-outline" type="submit">delete</button>
                            </form>
                            <% } %>
                        </div>
                        <div class="story-main">
                            <p><%= s.story %></p>
                        </div>
                    </div>  
                <% }); %>
        </div>

        <a id="new-story-link" href="/story/new">Add a new story</a>   

    </body>
</html>



